<h1> TASKS </h1>
<% @tasks.each do |t| %>
  <h3><%= t.title %></h3>
  <p><%= t.details %></p>
  <p><%= t.completed %></p>
  <%= link_to "Delete this task", task_path(t),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
<% end %>
<%= link_to "new task", new_path %>

